/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/
#lastpagebakgrund {
    background: black;
}
canvas {
    display: block;
}
body {
    background-color: lightblue;
}
h1 {
    color:blue;
}

#error1 {
    color:red;
}
#list {
    text-align: center;
}