
/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to te body to make things clearer*/
#lastpagebakgrund {
    position: absolute;
    background: black  ;
}
canvas {
    position: absolute;
    display: block;
}
body {
    background-color:lightblue;
}
#sistatexten {
    color:white;
}