
* {margin: 0; padding: 0;}  /*adding a black bg to body to make things clearer*/
#lastpagebakgrund {
    position: absolute;
    background: black  ;
}
canvas {
    position: absolute;
    display: block;
    top:0px;
}
body {
    background-color:lightsalmon;
}
h1 {
    color: #17a942;
    font-size: xx-large;
    font-family: sans-serif;
    padding: 50px;
    text-align: center;
}
#sistatexten {
    color:white;
    top:100px;
    z-index: 999;
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}
#error1 {
    color:red;
}

p {
    margin-bottom: 20px;
}