<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Game Over</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<p/>
<p/>
<p/>
<div id="sistatexten" style="position: relative;"><h1>You're done, well done my friend!</h1></div>
<p id="list">
<h3>High score list</h3>
<ul>
    <li th:each="listitem : ${names}">
        <a th:text="${listitem.name}" />
        <a th:text="${listitem.result}" />
    </li>
</ul>
</p>
<canvas id="c"></canvas>
<script src="/matrix.js"></script>
</body>
</html>