<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Level 2</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
<h1>Nice work, <span th:text="${session.nameVar}"></span>! Week 2: Web Intro</h1>
<div id="text">
<p/>
<h3>You have solved the first problem, let's continue...</h3>
    <p/>
    <div id="small_text">Windows based debugging tool for HTTP traffic</div>
    <p/>

<form action="/problem3" method="POST">
    <input placeholder="Write your answer" name="solution1"/>
    <input type="submit"/>
</form>
<div th:text="${Message2}"></div>
</div>

<p/>
<p/>
    </div>
    <canvas id="c"></canvas>
    <script src="/matrix.js"></script>


<!--<body>
    <h1>Welcome to your first problem, <span th:text="${session.nameVar}"></span>! Week 2: Web Intro</h1>
    <p/>
    <h3>Try to solve the problem as fast as you can.</h3>
    <p/>
    <div id="small_text">Windows based debugging tool for HTTP traffic</div>
    <p/>

<p/>
<form action="/problem2" method="POST">
    <input placeholder="Write your answer" name="solution"/>
    <input type="submit"/>
</form>
<div id="error1" th:text="${Message}"></div>
</body>-->
</body>
</html>