<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Week 5</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
    <h1>Week 5: SQL</h1>
    <p/>
    <h3>Well done, <span th:text="${session.nameVar}"></span>!</h3>
    <p/>
    <p/>
    <div id="small_text">Change Fisk Fiskenson's username to 'sill'</div>
    <!--UPDATE TestTable SET Username = 'sill' WHERE ID = 4'-->
    <p/>
    <form action="/lastpage" method="POST">
        <input placeholder="Write your answer" name="solution4"/>
        <input type="submit"/>
    </form>

    <div th:text="${Message3}"></div>
    <p/>
    <p/>
    <img src="table.png">
    
</div>
<canvas id="c"></canvas>
<script src="/matrix.js"></script>
</body>
</html>