<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Week 5</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
    <h1>Week 5: SQL</h1>
    <p/>
    <h3>Well done, <span th:text="${session.nameVar}"></span>! Now to the next problem...</h3>
    <p/>
    <p/>
    <div id="small_text">Change Fisk Fiskenson's username to 'sill'</div>
    <!--UPDATE TestTable SET Username = 'sill' WHERE ID = 4'-->
    <p/>
    <form action="/problem6" method="POST">
        <select name="solution4">
            <option value="Falsey">INSERT INTO TestTable SET Username = 'sill' WHERE ID = 4</option>
            <option value="Falsey">UPDATE TestTable SET Username = 'sill'</option>
            <option value="Falsey">CHANGE TestTable SET Username = 'sill' WHERE ID = 4</option>
            <option value="correctchoice">UPDATE TestTable SET Username = 'sill' WHERE ID = 4</option>
            <option value="Falsey">SELECT TestTable SET Username = 'sill'</option>
        </select>
        <input type="submit"/>
    </form>

    <div id="wronganswer" th:text="${Message5}"></div>
    <p/>
    <img src="table.png"/>
    <p/>
    <div><a id="link" href="/">Log out</a></div>
    <p/>
</div>
<canvas id="c"></canvas>
<script src="/matrix.js"></script>
</body>
</html>