<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Week 6</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
    <h1>Week 6: Java</h1>
    <p/>
    <h3>Well done, <span th:text="${session.nameVar}"></span>!</h3>
    <p/>
    <p/>
    <div id="small_text">How to prevent SQL injection attack</div>
    <!--prepared statement-->
    <p/>
    <form action="/problem7" method="POST">
        <input placeholder="Write your answer" name="solution5"/>
        <input type="submit"/>
    </form>

    <div th:text="${Message6}"></div>
    <p/>
    <p/>

</div>
<canvas id="c"></canvas>
<script src="/matrix.js"></script>
</body>
</html>