<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Week 1</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
    <h1>Week 1: Java for beginners</h1>
    <h3>Welcome to your first problem, <span th:text="${session.nameVar}"></span>! Try to solve it as fast as you can.</h3>

    <p id="small_text">What will the following program print out?</p>


    <form action="/problem2" method="POST">
        <input placeholder="Write your answer" name="solution"/>
        <input type="submit"/>
    </form>
    <p/>
    <div id="wronganswer" th:text="${Message}"></div>
    <p/>
    <p/>
    <img src="kod.jpg"/>
    <div id="logout"><a href="/">Log out</a></div>
    </div>
    <canvas id="c"></canvas>
    <script src="/matrix.js"></script>

</body>
</html>