<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Level 3</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
<h1>Well done, <span th:text="${session.nameVar}"></span>! Week 3: Javascript</h1>
<p/>
<h3>So far so good, but can you overcome this next challenge?</h3>
<p/>
<p/>
<div id="small_text">NaN === NaN Truthy or Falsey?</div>
<p/>
<form action="/lastpage" method="POST">
    <input placeholder="Write your answer" name="solution2"/>
    <input type="submit"/>
</form>

<div th:text="${Message3}"></div>
    </div>
<canvas id="c"></canvas>
<script src="/matrix.js"></script>

</body>
</html>