<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Level 1</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
    <h1>Welcome to your first problem, <span th:text="${session.nameVar}"></span>!</h1>
    <p/>
    <h3>Try to solve the problem as fast as you can.</h3>
    <p/>
    <div>What will the following line print?</div>
    <p/>
    <div>System.out.println("Hello World");</div>
    <p/>
    <form action="/problem2" method="POST">
        <input placeholder="Write your answer" name="solution"/>
        <input type="submit"/>
    </form>
    <div id="error1" th:text="${Message}"></div>
</body>
</html>