<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Week 3</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
<h1>Week 3: Javascript</h1>
<p/>
<h3>So far so good, <span th:text="${session.nameVar}"></span>, but can you overcome this next challenge?</h3>
<p/>
<p/>
<div id="small_text">NaN === NaN Truthy or Falsey?</div>
<p/>
<form action="/problem4" method="POST">
    <select name="solution2">
        <option value="truthy">Truthy</option>
        <option value="falsey">Falsey</option>
    </select>
    <input type="submit"/>
</form>
<p/>
<div id="wronganswer" th:text="${Message3}"></div>
<p/>
    <div id="logout"><a href="/">Log out</a></div>
    </div>
<canvas id="c"></canvas>
<script src="/matrix.js"></script>

</body>
</html>