<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>hello</title>
</head>
<body>
<h1 style="color:blue;">Welcome</h1>
<div th:text="${session.nameVar} + ' ' + 'to your first problem. Try to solve the problem as fast as you can.'"></div>
<p></p>
<p></p>
<p></p>
<p></p>
<div><big>What will the following line print?</big></div>
<p></p>
<div>System.out.println("Hello World");</div>
<p></p>
<p></p>
<p></p>
<form action="/problem2" method="POST">
    <input placeholder="Write your answer" name="solution"/>
    <input type="submit"/>
</form>

<div th:text="${Message}"></div>


</body>
</html>