<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Week 2</title>
    <link rel="Stylesheet" href="/css.css"/>
</head>
<body>
<div id="sistatexten" style="position: relative;">
<h1>Week 2: Web Intro</h1>

<p/>
<h3>Great job, <span th:text="${session.nameVar}"></span>! You have solved the first problem, let's continue...</h3>
    <p/>
    <div id="small_text">Windows based debugging tool for HTTP traffic</div>
    <p/>

<form action="/problem3" method="POST">
    <input placeholder="Write your answer" name="solution1"/>
    <input type="submit"/>
</form>
<p/>
<div id="wronganswer" th:text="${Message2}"></div>
<p/>
    <div><a id="link" href="/">Log out</a></div>
    <p/>
    </div>
    <canvas id="c"></canvas>
    <script src="/matrix.js"></script>

</body>
</html>